h1{
  text-align: center;
}
.main{
  margin-left: 6px;
  margin-right: 6px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
.card{
  padding: 20px;
  width: 250px;
  background-color: #FFFFFF;
  box-shadow: 0.5px 0.5px 3px black;
  border-radius: 10px;
}